# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
icoverage
coverage.lcov

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

#PHPStorm
.idea

#dotenv
.env
dist/
dist

.nyc*

# k8s stuff
captain.yml
kube-*.yml
gomplate.yml
Gemfile.lock
swagger/swagger*
swagger/*.jar
swagger/generated
swagger/stdin2rabbitmq-api-client/yarn.lock
swagger/stdin2rabbitmq-api-client/index*
